In [67]:
print("Hello, World!")

Hello, World!

In [78]:
import pandas as pd
pd.set_option('display.max_rows', None)   # 顯示所有列
pd.set_option('display.max_columns', None)  # 顯示所有欄
pd.set_option('display.max_colwidth', None) # 顯示完整欄位內容

# dictionary 轉 dataframe

In [79]:
ohlc = {
    "open": [1, 2, 3, 4],
    "close": [2, 3, 4, 5]
}
df = pd.DataFrame(ohlc)
# 屬性
print(df.columns)
# 方法(資料結構裡面的函數)
print(df.max())

Index(['open', 'close'], dtype='object')
open     4
close    5
dtype: int64

# list 轉 dataframe

In [80]:
ohlc = [
    [1, 2, 3, 4],
    [2, 3, 4, 5]
]
pd.DataFrame(ohlc)

   0  1  2  3
0  1  2  3  4
1  2  3  4  5

# 常見屬性

In [81]:
df

   open  close
0     1      2
1     2      3
2     3      4
3     4      5

In [82]:
print("維度", df.ndim)
print("面積", df.shape)
print("資料型態\n", df.dtypes)
print("資料欄位\n", df.columns)
print("資料欄位結果轉成list\n", df.columns.to_list())
print("資料索引\n", df.index)

維度 2
面積 (4, 2)
資料型態
 open     int64
close    int64
dtype: object
資料欄位
 Index(['open', 'close'], dtype='object')
資料欄位結果轉成list
 ['open', 'close']
資料索引
 RangeIndex(start=0, stop=4, step=1)

In [83]:
print(df["open"])
print(type(df["open"]))
print(type(df))
print(df.open) # 少用

0    1
1    2
2    3
3    4
Name: open, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0    1
1    2
2    3
3    4
Name: open, dtype: int64

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    4 non-null      int64
 1   close   4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes

In [85]:
df.describe()
df.describe([.1, .2, .3, .9])

           open     close
count  4.000000  4.000000
mean   2.500000  3.500000
std    1.290994  1.290994
min    1.000000  2.000000
10%    1.300000  2.300000
20%    1.600000  2.600000
30%    1.900000  2.900000
50%    2.500000  3.500000
90%    3.700000  4.700000
max    4.000000  5.000000

In [105]:
print(df)
print(df.mean())
print(df.mean(axis=0))  # axis=0 代表直向計算
print(df.mean(axis=1))  # axis=1 代表橫向計算

   open  close  open_cumsum  open_cumprod
0     1      2            1             1
1     2      3            3             2
2     3      4            6             6
3     4      5           10            24
open            2.50
close           3.50
open_cumsum     5.00
open_cumprod    8.25
dtype: float64
open            2.50
close           3.50
open_cumsum     5.00
open_cumprod    8.25
dtype: float64
0     1.25
1     2.50
2     4.75
3    10.75
dtype: float64

In [109]:
print(f"df['open'].sum(): {df['open'].sum()}\n")
print(f"df['open'].median(): {df['open'].median()}\n")
print(f"df['open'].mode(): {df['open'].mode()}\n")

df['open'].sum(): 10

df['open'].median(): 2.5

df['open'].mode(): 0    1
1    2
2    3
3    4
Name: open, dtype: int64

In [110]:
print(f"df['open'].std(): {df['open'].std()}\n")
print(f"df['open'].abs(): {df['open'].abs()}\n")
print(f"df['open'].prod(): {df['open'].prod()}\n")

df['open'].std(): 1.2909944487358056

df['open'].abs(): 0    1
1    2
2    3
3    4
Name: open, dtype: int64

df['open'].prod(): 24

In [111]:
print(df["open"].sum())
print(df["open"].cumsum())
df["open_cumsum"] = df["open"].cumsum()
df['open_cumprod'] = df['open'].cumprod()
print(df)

10
0     1
1     3
2     6
3    10
Name: open, dtype: int64
   open  close  open_cumsum  open_cumprod
0     1      2            1             1
1     2      3            3             2
2     3      4            6             6
3     4      5           10            24

In [114]:
print(df['open'].quantile([.5, .3]))
print(df.cov())
print(df.corr())
print(df.diff())
print(df.pct_change())

0.5    2.5
0.3    1.9
Name: open, dtype: float64
                   open      close  open_cumsum  open_cumprod
open           1.666667   1.666667     5.000000     12.166667
close          1.666667   1.666667     5.000000     12.166667
open_cumsum    5.000000   5.000000    15.333333     39.333333
open_cumprod  12.166667  12.166667    39.333333    114.916667
                  open     close  open_cumsum  open_cumprod
open          1.000000  1.000000     0.989071      0.879135
close         1.000000  1.000000     0.989071      0.879135
open_cumsum   0.989071  0.989071     1.000000      0.937025
open_cumprod  0.879135  0.879135     0.937025      1.000000
   open  close  open_cumsum  open_cumprod
0   NaN    NaN          NaN           NaN
1   1.0    1.0          2.0           1.0
2   1.0    1.0          3.0           4.0
3   1.0    1.0          4.0          18.0
       open     close  open_cumsum  open_cumprod
0       NaN       NaN          NaN           NaN
1  1.000000  0.500000     2.000000           1.0
2  0.500000  0.333333     1.000000           2.0
3  0.333333  0.250000     0.666667           3.0

In [117]:
# df.loc[index, column]
print(df, '\n')
print(df.loc[2, "open_cumsum"])

   open  close  open_cumsum  open_cumprod
0     1      2            1             1
1     2      3            3             2
2     3      4            6             6
3     4      5           10            24

6